<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeCat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7FF4B7E1D39BC1E004FF265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FF4B971D39BC1E004FF265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FF4BA21D39BC1E004FF265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
